# PRACTICAL DEMO: INFERENTIAL ANALYSIS

In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [6]:
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

# Convert variables sex, smoker, time and day to numerical identifiers

In [7]:
df = pd.get_dummies(df, columns=['sex','smoker','time','day'])

In [8]:
df.head()

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,time_Dinner,time_Lunch,day_Fri,day_Sat,day_Sun,day_Thur
0,16.99,1.01,2,1,0,1,0,1,0,0,0,1,0
1,10.34,1.66,3,0,1,1,0,1,0,0,0,1,0
2,21.01,3.50,3,0,1,1,0,1,0,0,0,1,0
3,23.68,3.31,2,0,1,1,0,1,0,0,0,1,0
4,24.59,3.61,4,1,0,1,0,1,0,0,0,1,0

In [44]:
df.fillna(X)

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,time_Dinner,time_Lunch,day_Fri,day_Sat,day_Sun,day_Thur
0,16.99,1.01,2,1,0,1,0,1,0,0,0,1,0
1,10.34,1.66,3,0,1,1,0,1,0,0,0,1,0
2,21.01,3.50,3,0,1,1,0,1,0,0,0,1,0
3,23.68,3.31,2,0,1,1,0,1,0,0,0,1,0
4,24.59,3.61,4,1,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,0,1,1,0,1,0,0,1,0,0
240,27.18,2.00,2,1,0,0,1,1,0,0,1,0,0
241,22.67,2.00,2,0,1,0,1,1,0,0,1,0,0
242,17.82,1.75,2,0,1,1,0,1,0,0,1,0,0
243,18.78,3.00,2,1,0,1,0,1,0,0,0,0,1

In [95]:
X = df.drop('tip',axis=1)
y = df['tip']

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model = LinearRegression()

In [53]:
model.fit(X,y)

LinearRegression()

In [36]:
#Harsha's information (male, 10, non-smoker, dinner on Friday)

In [40]:
Harsha = [10,1,1,0,1,0,1,0,1,0,0,0]

# Predection of the tip is?

In [41]:
Harsha = model.predict([Harsha])
Harsha

array([1.92467935])

# Decision Tree

In [96]:
X = df["total_bill"]
y = df["sex_Female"]
X.shape,y.shape

((244,), (244,))

In [97]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [98]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((183,), (61,), (183,), (61,))

In [100]:
X_train

71     17.07
222     8.58
112    38.07
194    16.58
212    48.33
       ...
82     10.07
59     48.27
237    32.83
105    15.36
106    20.49
Name: total_bill, Length: 183, dtype: float64

In [99]:
y_train

71     1
222    0
112    0
194    0
212    0
      ..
82     1
59     0
237    0
105    0
106    0
Name: sex_Female, Length: 183, dtype: uint8

In [101]:
X_test

29     19.65
202    13.00
90     28.97
22     15.77
185    20.69
       ...
189    23.10
81     16.66
204    20.53
126     8.52
111     7.25
Name: total_bill, Length: 61, dtype: float64

In [102]:
y_test

29     1
202    1
90     0
22     1
185    0
      ..
189    0
81     0
204    0
126    0
111    1
Name: sex_Female, Length: 61, dtype: uint8

In [105]:
df.reshape(-1,1)

AttributeError: 'DataFrame' object has no attribute 'reshape'